@import "../styles/variables";

.header {
  padding: 10px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 10px;
    }

    p {
      color: $color-text-light;
    }
  }
}