.video-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px 0;

  .mini-card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-decoration: none;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    .card-thumbnail {
      width: 100%;
      height: 100px;
      background-size: cover;
      background-position: center;
    }

    .card-title {
      padding: 10px;
      font-size: 16px;
      color: #333;
      text-align: center;
      font-weight: bold;
    }
  }
}
