@import "./styles/variables";
@import "./styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: $color-secondary;
}

.container {
  display: flex;
  padding: 20px;
  width: 100%;
}

.button {
  @include border-radius(4px);
  display: inline-block;
  padding: 0 10px;
  font-size: 1rem;
  text-decoration: none;
  border: 0;
  outline: 0;
  background-color: $color-text-light;
  height: 40px;
  line-height: 40px;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &.pill {
    @include border-radius(20px);

    font-size: 0.8rem;
    color: $color-text-light;
    border: 1px solid $color-text-light;
    background: transparent;
  }

  &.secondary {
    color: $color-text-light;;
    background-color: $color-gray-dark;
  }
  
}
