@import "./styles/variables";
@import "./styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: $color-secondary;
}

.container {
  display: flex;
  padding: 20px;
  width: 100%;
}

.button {
  display: inline-block;
  padding:  10px;
  font-size: 1rem;
  text-decoration: none;

  &.pill {
    @include border-radius(20px);

    font-size: 0.8rem;
    color: $color-text-light;
    border: 1px solid $color-text-light;
  }
}
